* {
  font-family: fantasy;

}

.App {
  /* background-color: rgb(23, 25, 78); */
  background-color: rgb(90, 106, 177);
  position: absolute;
  height: 100%;
  width: 100%;
  /* padding-left: 10%; */
  /* padding-right: 10%;  */
}

.header {
  height: 10%;
  width: 100%;

  /* border-bottom: black;
  border-bottom-style: solid;
  border-bottom-width: 3px; */
  /* outline-style: solid;
  outline-width: 3px; */

  /* border-left: black;
  border-left-style: solid;
  border-left-style: 3px;

  border-right: black;
  border-right-style: solid;
  border-right-style: 3px; */

}

.home {
  height: 90%;
  width: 100%;
  /* padding: 0 10%; */

  /* border-left: black;
  border-left-style: solid;
  border-left-style: 3px;

  border-right: black;
  border-right-style: solid;
  border-right-style: 3px; */
}

.projects {
  height: 90%;
  width: 100%;
  /* padding: 0 10%; */

  /* border-left: black;
  border-left-style: solid;
  border-left-style: 3px;

  border-right: black;
  border-right-style: solid;
  border-right-style: 3px; */
}

.education {
  height: 90%;
  width: 100%;
}