.experience-container {
    display: flex;
    flex-direction: column;

    .header {
        // background-color: rgb(55, 55, 55);
        background-color: black;
        color: white;
        padding: 30px 250px 30px 250px;

        .resume {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            // background-color: black;
            background-color: grey;
            color: white;

            font-weight: bold;

            width: 200px;
            height: 25px;
            margin-top: 20px;

            &:hover {
                cursor: pointer;
                scale: 1.1;
            }
        }

        .title {
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 10px;
        }

        .subtitle {
            font-size: 16px;
            margin-bottom: 30px;
        }

        .stack-title {
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .stack-container {
            display: flex;
            flex-direction: row;
            gap: 15px;

            .stack-item {
                font-size: 12px;
                font-weight: bold;
                width: 80px;
                height: 20px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                color: white;
                background-color: rgb(82, 82, 235);
            }
        }
    }

    .main-section {
        padding: 30px 250px;

        .job {
            padding-bottom: 30px;

            .job-title {
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 10px;
            }

            .company {
                font-size: 16px;
                margin-bottom: 5px;
            }

            .date {
                font-size: 16px;
                margin-bottom: 10px;
            }

            .description {
                font-size: 16px;
            }
        }
    }

}